In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
houses = pd.read_csv("housing.csv")

In [3]:
houses
# 768 rows, 68 columns

,Land,Open,CPR,Photos,Status,MLS#,Price,Original Price,$ Change,% Change,...,View,Frontage,Pool,Parking,Flooring,Roofing,Roads,Easements,Topography,Stories
0,FS,NaN,NaN,14,Sold,202126770,799000,799000,0,0.0000,...,Garden,NaN,None,"2 Car,Garage,Street","Laminate,W/W Carpet",Asphalt Shingle,"County Rd,Paved Rd",None,Level,Two
1,FS,NaN,NaN,7,Sold,202128502,875000,875000,0,0.0000,...,Mountain,NaN,None,3 Car+,"Ceramic Tile,Hardwood,Vinyl",Composition,"County Rd,Paved Rd,Private Rd","Electric,Other","Down Slope,Level",One
2,FS,NaN,NaN,25,Sold,202129166,899000,899000,0,0.0000,...,"City,Mountain,Other",NaN,None,2 Car,"Laminate,Other",Asphalt Shingle,"County Rd,Paved Rd",None,Level,One
3,FS,NaN,NaN,23,Sold,202126722,950000,950000,0,0.0000,...,Mountain,NaN,None,"3 Car+,Carport,Driveway,Street","Other,W/W Carpet",Other,County Rd,Street Widening,"Gentle Slope,Level","Basement,One"
4,FS,NaN,NaN,25,Sold,202126141,1288000,1288000,0,0.0000,...,Mountain,NaN,None,"2 Car,Carport,Driveway,Street","Ceramic Tile,W/W Carpet","Asphalt Shingle,Composition",Paved Rd,None,Level,One
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,FS,NaN,NaN,24,Sold,202017815,1299000,1388000,-89000,-0.0641,...,"Garden,Mountain",NaN,None,"2 Car,Driveway,Garage,Street","Ceramic Tile,Vinyl",Asphalt Shingle,County Rd,None,Level,Two
764,FS,NaN,NaN,19,Sold,202028600,1588000,1588000,0,0.0000,...,"City,Mountain,Other",Other,None,"2 Car,Carport,Street","Hardwood,Other,W/W Carpet",Asphalt Shingle,"County Rd,Paved Rd",Sewer,"Gentle Slope,Terraced","Basement,Two"
765,FS,NaN,NaN,21,Sold,202028943,1188000,1188000,0,0.0000,...,"Coastline,Diamond Head,Mountain,Ocean,Sunrise",Other,None,"3 Car+,Carport,Driveway","Ceramic Tile,Hardwood,Vinyl",Asphalt Shingle,"County Rd,Paved Rd",None,Down Slope,Two
766,FS,NaN,NaN,23,Sold,202020787,1249000,1345000,-96000,-0.0714,...,Mountain,NaN,None,3 Car+,Laminate,Asphalt Shingle,Paved Rd,None,"Gentle Slope,Level",One
767,FS,NaN,NaN,23,Sold,202026916,1478000,1478000,0,0.0000,...,Marina/Canal,Marina,None,"3 Car+,Boat,Carport,Driveway",Vinyl,Asphalt Shingle,County Rd,None,Level,One

# Drop index/irrelevant columns

In [4]:
for col in houses.columns:
    print(col)

Land
Open
CPR
Photos
Status
MLS#
Price
Original Price
$ Change
% Change
Region
Neighborhood
Address
City
Zip
Parcel Number
Zone
Section
Plat
Parcel/Lot
CPR.1
Terms
Sold Price
Sold Date
Sold Ratio
Orig. Ratio
Concessions
Beds
Bath
Living Sq Ft
Average Living
Land Sq Ft
Acres
Average Land
Year
Remodeled
List Date
Days
Condition
Tax
Maint. Fee
Assoc. Fee
Other Fee
Fee Includes
Total Fees
Land.1
Building
Assessed Total
Assessed Ratio
Elementary
Junior High
High
Zoning
Flood Zone
Seller's Agent
Seller's Office
Buyer's Agent
Buyer's Office
View
Frontage
Pool
Parking
Flooring
Roofing
Roads
Easements
Topography
Stories

In [5]:
houses.drop(['Land','Open','Status','$ Change','Neighborhood',
             'Address','City','Zip','Parcel Number','Zone','Section','Plat',
            'Parcel/Lot','Terms','Concessions','Average Living', 'Acres',
            'Average Land','Maint. Fee', 'Assoc. Fee', 'Other Fee','Fee Includes',
            'Elementary', 'Junior High', 'High', 'Seller\'s Agent', 'Buyer\'s Agent',
            'Seller\'s Office', 'Buyer\'s Office'], axis=1, inplace=True)

In [7]:
houses
# 768 rows, 39 columns

,CPR,Photos,MLS#,Price,Original Price,% Change,Region,CPR.1,Sold Price,Sold Date,...,View,Frontage,Pool,Parking,Flooring,Roofing,Roads,Easements,Topography,Stories
0,NaN,14,202126770,799000,799000,0.0000,Metro,0,825000,12/28/2021,...,Garden,NaN,None,"2 Car,Garage,Street","Laminate,W/W Carpet",Asphalt Shingle,"County Rd,Paved Rd",None,Level,Two
1,NaN,7,202128502,875000,875000,0.0000,DiamondHd,0,940000,12/28/2021,...,Mountain,NaN,None,3 Car+,"Ceramic Tile,Hardwood,Vinyl",Composition,"County Rd,Paved Rd,Private Rd","Electric,Other","Down Slope,Level",One
2,NaN,25,202129166,899000,899000,0.0000,DiamondHd,0,990000,12/28/2021,...,"City,Mountain,Other",NaN,None,2 Car,"Laminate,Other",Asphalt Shingle,"County Rd,Paved Rd",None,Level,One
3,NaN,23,202126722,950000,950000,0.0000,Metro,0,1030500,12/27/2021,...,Mountain,NaN,None,"3 Car+,Carport,Driveway,Street","Other,W/W Carpet",Other,County Rd,Street Widening,"Gentle Slope,Level","Basement,One"
4,NaN,25,202126141,1288000,1288000,0.0000,HawaiiKai,0,1250000,12/27/2021,...,Mountain,NaN,None,"2 Car,Carport,Driveway,Street","Ceramic Tile,W/W Carpet","Asphalt Shingle,Composition",Paved Rd,None,Level,One
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,NaN,24,202017815,1299000,1388000,-0.0641,Metro,0,1225000,12/31/2020,...,"Garden,Mountain",NaN,None,"2 Car,Driveway,Garage,Street","Ceramic Tile,Vinyl",Asphalt Shingle,County Rd,None,Level,Two
764,NaN,19,202028600,1588000,1588000,0.0000,Metro,0,1500000,12/31/2020,...,"City,Mountain,Other",Other,None,"2 Car,Carport,Street","Hardwood,Other,W/W Carpet",Asphalt Shingle,"County Rd,Paved Rd",Sewer,"Gentle Slope,Terraced","Basement,Two"
765,NaN,21,202028943,1188000,1188000,0.0000,DiamondHd,0,1225000,12/30/2020,...,"Coastline,Diamond Head,Mountain,Ocean,Sunrise",Other,None,"3 Car+,Carport,Driveway","Ceramic Tile,Hardwood,Vinyl",Asphalt Shingle,"County Rd,Paved Rd",None,Down Slope,Two
766,NaN,23,202020787,1249000,1345000,-0.0714,DiamondHd,0,1175000,12/30/2020,...,Mountain,NaN,None,3 Car+,Laminate,Asphalt Shingle,Paved Rd,None,"Gentle Slope,Level",One
767,NaN,23,202026916,1478000,1478000,0.0000,HawaiiKai,0,1393000,12/30/2020,...,Marina/Canal,Marina,None,"3 Car+,Boat,Carport,Driveway",Vinyl,Asphalt Shingle,County Rd,None,Level,One

# Set MLS# as index

In [8]:
houses = houses.set_index('MLS#')

# Create CPR binary

In [9]:
def cprVar(Value):
    if Value == 'Yes':
        return 1
    else:
        return 0

In [10]:
houses['CPR'] = houses['CPR'].apply(lambda x: cprVar(x))
houses['CPR'].describe()

count    768.000000
mean       0.114583
std        0.318726
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: CPR, dtype: float64

# Convert sold date to date

In [11]:
houses['SoldDate'] = pd.to_datetime(houses['Sold Date'], format='%m/%d/%Y')
houses['SoldDate'].describe()

C:\Users\cnaga\AppData\Local\Temp/ipykernel_932/265631300.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  houses['SoldDate'].describe()

count                     768
unique                    229
top       2021-07-30 00:00:00
freq                       13
first     2020-12-30 00:00:00
last      2021-12-28 00:00:00
Name: SoldDate, dtype: object

# Convert list date to date

In [12]:
houses['ListDate'] = pd.to_datetime(houses['List Date'], format='%m/%d/%Y')
houses['ListDate'].describe()

C:\Users\cnaga\AppData\Local\Temp/ipykernel_932/2289630086.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  houses['ListDate'].describe()

count                     768
unique                    342
top       2021-02-01 00:00:00
freq                        8
first     2019-05-08 00:00:00
last      2021-11-28 00:00:00
Name: ListDate, dtype: object

# Create % Increase and % Decrease Binary Vars

In [13]:
def priceInc(Value):
    if Value > 0:
        return 1
    else:
        return 0

In [14]:
houses['priceInc'] = houses['% Change'].apply(lambda x: priceInc(x))
houses['priceInc'].describe()

count    768.000000
mean       0.053385
std        0.224947
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: priceInc, dtype: float64

In [15]:
def priceDec(Value):
    if Value < 0:
        return 1
    else:
        return 0

In [16]:
houses['priceDec'] = houses['% Change'].apply(lambda x: priceDec(x))
houses['priceDec'].describe()

count    768.000000
mean       0.156250
std        0.363329
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: priceDec, dtype: float64

# CPR.1 variable

In [17]:
houses['CPR.1'].describe()

count    768.000000
mean       0.880208
std        6.299664
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       94.000000
Name: CPR.1, dtype: float64

In [18]:
def largeCPR(Value):
    if Value > 3:
        return 1
    else:
        return 0

In [19]:
houses['largeCPR'] = houses['CPR.1'].apply(lambda x: largeCPR(x))
houses['largeCPR'].describe()

count    768.000000
mean       0.028646
std        0.166918
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: largeCPR, dtype: float64

In [20]:
for col in houses.columns:
    print(col)

CPR
Photos
Price
Original Price
% Change
Region
CPR.1
Sold Price
Sold Date
Sold Ratio
Orig. Ratio
Beds
Bath
Living Sq Ft
Land Sq Ft
Year
Remodeled
List Date
Days
Condition
Tax
Total Fees
Land.1
Building
Assessed Total
Assessed Ratio
Zoning
Flood Zone
View
Frontage
Pool
Parking
Flooring
Roofing
Roads
Easements
Topography
Stories
SoldDate
ListDate
priceInc
priceDec
largeCPR

In [21]:
houses.drop(['% Change', 'CPR.1'], axis=1, inplace=True)

# Create above original price binary variable

In [22]:
def aboveOrig(Value):
    if Value > 1:
        return 1
    else:
        return 0

In [23]:
houses['aboveOrig'] = houses['Orig. Ratio'].apply(lambda x: aboveOrig(x))
houses['aboveOrig'].describe()

count    768.000000
mean       0.384115
std        0.486702
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: aboveOrig, dtype: float64

# Clean bath

In [24]:
def fullBath(x):
    'Returns number of full baths'
    
    x = str(x)
    if re.search('\.', x):  # If string contains a decimal point
        pos = re.search('\.', x).start()
        return x[:pos] # Return number up to decimal point
    
    else:
        return x # only full baths

houses['fullBaths'] = houses['Bath'].apply(fullBath)
houses['fullBaths'].describe()

count     768
unique      8
top         2
freq      380
Name: fullBaths, dtype: object

In [25]:
def halfBath(x):
    'Returns number of half baths'
    
    x = str(x)
    if re.search('\.', x):  # If string contains a decimal point
        pos = re.search('\.', x).start()
        return x[pos+1:] # Return number after decimal point
    
    else:
        return 0 # only full baths

houses['halfBaths'] = houses['Bath'].apply(halfBath)
houses['halfBaths'].describe()

count     768
unique      3
top         0
freq      546
Name: halfBaths, dtype: object

# Create remodeled binary variable (1 if less than 5 years ago)

In [26]:
houses['Remodeled'].describe()

count     359.000000
mean     2002.883008
std        22.841272
min      1921.000000
25%      1987.500000
50%      2015.000000
75%      2020.000000
max      2021.000000
Name: Remodeled, dtype: float64

In [27]:
def rem5Yrs(x):
    'Returns 1 if remodeled in last 5 years'
    
    if x >= 2017:
        return 1
    else: return 0
        
houses['rem5Yrs'] = houses['Remodeled'].apply(rem5Yrs)
houses['rem5Yrs'].describe()

count    768.000000
mean       0.218750
std        0.413668
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: rem5Yrs, dtype: float64

# Create ordinal condition variable

In [28]:
def clean_condition(condition):
    '''Takes in dataframe value and returns average condition number'''
    
    # Dictionary of conditions and values
    cond = {'Tear Down': 1,
            'Needs Major Repair': 2,
            'Fair': 3,
            'Average': 4,
            'Above Average': 5,
            'Excellent': 6}
    
    # Initialize list to hold conditions
    av = []

    # If there is no comma, return value of single condition    
    if not re.search('\,', condition):
        
        return cond[condition]
    
    else:
        lst = condition.split(',')  # Split conditions on commas
        for c in lst:
            av.append(cond[c])  # Append condition number values to list
            
        return sum(av)/len(av)  # Return average number

houses['Condition'] = houses['Condition'].apply(clean_condition)
houses['Condition'].describe()

count    768.000000
mean       4.565538
std        1.100045
min        1.000000
25%        4.000000
50%        5.000000
75%        5.500000
max        6.000000
Name: Condition, dtype: float64

# Create pool binary variable

In [29]:
houses['Pool'].describe()

count      768
unique      15
top       None
freq       725
Name: Pool, dtype: object

In [30]:
def pool(x):
    'Returns 1 if property has a pool'
    
    if x =='None':
        return 0
    else: return 1
        
houses['Pool'] = houses['Pool'].apply(pool)
houses['Pool'].describe()

count    768.000000
mean       0.055990
std        0.230051
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Pool, dtype: float64

# Clean parking variable

In [31]:
def clean_parking(park):
    '''Returns first char of string if char is numeric'''

    if park[0].isnumeric():
        return int(park[0])
    elif park == 'Street':  # If only street parking
        return 0
    else:
        return 2  # Assume unspecified parking = 2 (median)
    
houses['Parking2'] = houses['Parking'].apply(clean_parking)

houses['Parking2'].describe()

count    768.000000
mean       2.298177
std        0.619877
min        0.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: Parking2, dtype: float64

# Clean view variable

In [32]:
def view(x):
    'Returns 1 if property has a view'
    
    if x =='None':
        return 0
    else: return 1
        
houses['View'] = houses['View'].apply(view)
houses['View'].describe()

count    768.000000
mean       0.817708
std        0.386336
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: View, dtype: float64

# Clean easements variable

In [33]:
def easements(x):
    'Returns 1 if property has an easement'
    
    if x =='None':
        return 0
    else: return 1
        
houses['Easements'] = houses['Easements'].apply(easements)
houses['Easements'].describe()

count    768.000000
mean       0.513021
std        0.500156
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Easements, dtype: float64

# Create binary level/gentle slope variable

In [34]:
def level(x):
    'Returns 1 if property is gentle slope and level or level only'
    
    if x =='Level' or x == 'Gentle Slope,Level':
        return 1
    else: return 0
        
houses['level'] = houses['Topography'].apply(level)
houses['level'].describe()

count    768.000000
mean       0.532552
std        0.499264
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: level, dtype: float64

# Clean stories variable

In [35]:
Basement=[]
splitLevel=[]
Stories=[]

# Text to find
regexb = re.compile('Basement')
regexs = re.compile('Split Level')
regex1 = re.compile('One')
regex2 = re.compile('Two')
regex3 = re.compile('Three+')


for i in houses['Stories']:
    
    # Find basement
    b = regexb.findall(i)
    if b != []:
        Basement.append(1)  # 
    else: 
        Basement.append(0)
    
    # Find split level
    sl = regexs.findall(i)
    if sl != []:
        splitLevel.append(1)
    else:
        splitLevel.append(0)
    
    # Find # stories
    st = regex3.findall(i)
    if st != []:
        Stories.append(3)
    else:
        st = regex2.findall(i)
        if st != []:
            Stories.append(2)
        else:
            st = regex1.findall(i)
            if st != []:
                Stories.append(1)
            else:
                Stories.append(None)
                
houses['Basement'] = Basement
houses['Stories'] = Stories
houses['splitLevel'] = splitLevel

houses['Stories'].describe()

count    743.000000
mean       1.559892
std        0.584025
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        3.000000
Name: Stories, dtype: float64

In [36]:
for col in houses.columns:
    print(col)

CPR
Photos
Price
Original Price
Region
Sold Price
Sold Date
Sold Ratio
Orig. Ratio
Beds
Bath
Living Sq Ft
Land Sq Ft
Year
Remodeled
List Date
Days
Condition
Tax
Total Fees
Land.1
Building
Assessed Total
Assessed Ratio
Zoning
Flood Zone
View
Frontage
Pool
Parking
Flooring
Roofing
Roads
Easements
Topography
Stories
SoldDate
ListDate
priceInc
priceDec
largeCPR
aboveOrig
fullBaths
halfBaths
rem5Yrs
Parking2
level
Basement
splitLevel

In [37]:
houses.drop(['Price', 'Bath','Frontage','Flooring','Roofing','Roads',
            'Topography','Sold Date', 'List Date','Remodeled','Parking'], axis=1, inplace=True)

In [38]:
houses.to_csv('Housing_clean.csv')